<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>GestionProductos</display-name>
    <servlet-name>GestionProductos</servlet-name>
    <servlet-class>controlador.GestionProductos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionProductos</servlet-name>
    <url-pattern>/GestionProductos</url-pattern>
  </servlet-mapping>
  <display-name>MiProyectoV6</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Listar</display-name>
    <servlet-name>Listar</servlet-name>
    <servlet-class>controlador.Listar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Listar</servlet-name>
    <url-pattern>/Listar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionUsuarios</display-name>
    <servlet-name>GestionUsuarios</servlet-name>
    <servlet-class>controlador.GestionUsuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionUsuarios</servlet-name>
    <url-pattern>/GestionUsuarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sesion</display-name>
    <servlet-name>Sesion</servlet-name>
    <servlet-class>controlador.Sesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sesion</servlet-name>
    <url-pattern>/Sesion</url-pattern>
  </servlet-mapping>
</web-app>